[build]
  command = "npm run generate"
  publish = ".output/public"
  ignore = ".netlifyignore"

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--legacy-peer-deps"

# Disable serverless functions detection
[functions]
  directory = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

